/build/
/out/
/.vs/
/.idea/
/.vscode/

CMakeUserPresets.json
CMakeCache.txt
cmake_install.cmake
compile_commands.json

*.obj
*.o
*.pdb
*.ilk
*.idb
*.exe
*.dll
*.lib
*.a

*.user
*.user.*
*.qtc.user
*.pro.user
